body {
  font-family: Arial, sans-serif;
  background-color: #eef;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.login-container, #dashboard {
  background: white;
  margin: auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

input, button {
  margin: 10px;
  padding: 8px;
  width: 90%;
}
